*.user
nltk_data/
obj/
.vs/
**/__pycache__
models/
**/Detectors.json
**/SampleUtterances.json
**.dict
**.index
**.model
**.dat.npy
**/Mappings.json
**/ModelInfo.json
**/trainingId.txt
**/appconfig.json