Flask==1.1.1
flask_cors==3.0.7
nltk==3.4
gensim==3.7.2
requests==2.20.0
pyjwt==1.7.1
cryptography==2.6.1
azure-storage==0.36.0
pytz==2018.9
pywin32
googletrans==2.4.0
pyemd-0.5.1-cp36-cp36m-win_amd64.whl