<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="app-services-diagnostics-portal-nuget-feed" value="https://pkgs.dev.azure.com/app-service-diagnostics-portal/_packaging/app-services-diagnostics-portal-nuget-feed/nuget/v3/index.json" />
  </packageSources>
</configuration>